@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
}

/* Aseguramos que el modo oscuro se aplique correctamente */
.dark {
  color-scheme: dark;
}

/* Aseguramos que el modo claro se aplique correctamente */
:root {
  color-scheme: light;
}
